*, *:before, *:after {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    margin: 0;
    font-family: ui-sans-serif, system-ui, -system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji";
    color: $black;
}

section {
    max-width: 48rem;
    margin: 0 auto 4rem;
    display: flex;
    flex-direction: column;

    &:last-of-type {
        margin-bottom: 0;
    }

    &.draw-grid {
        align-items: center;

        button {
            margin-top: 1rem;
        }
    }
}
h1 {
    margin: 0;
    font-size: 1.5rem;
}
h2 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    line-height: 1.4;
}
a {
    color: $black;
    text-decoration: none;
    border-bottom: 2px dotted;
    transition: border-bottom-color .2s;

    &:hover,
    &:focus {
        border-bottom-color: transparent;
    }

    &:focus {
        outline: 3px dashed;
    }

    &:visited {
        color: $black;
    }
}
button {
    color: $black;

    &:hover,
    &:focus {
        border-style: dashed;
        outline: none;
    }

    &.help {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.75rem;
        width: 1.75rem;
        border: .25rem solid $black;
        border-radius: 50%;
        background-color: $white;
        padding: 0;
        text-transform: uppercase;
        font-size: 1.25rem;
        font-weight: 700;

        &:hover,
        &:focus {
            border-style: dashed;
            cursor: pointer;
        }
    }

    &.close {
        box-sizing:content-box;
        border: none;
        border-radius: 0;
        background-color: transparent;
        padding: 0;
        font-size: 3rem;
        line-height: .6;
        transition: transform .2s;
        height: 1.5rem;
        width: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 100%;

            path {
                stroke: $black;
                fill: transparent;
                stroke-width: 8;
            }
        }

        &:hover,
        &:focus {
            transform: rotate(90deg);
        }
    }
}
.button {
    border: .25rem solid $black;
    border-radius: .125rem;
    background-color: $white;
    padding: .375rem .75rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .0125em;
    text-align: right;

    &:hover,
    &:focus {
        border-style: dashed;
        cursor: pointer;
    }
}

.hide {
    display: none;
}