*, *:before, *:after {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    margin: 2rem;
    font-family: ui-sans-serif, system-ui, -system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji";
    color: $black;
}

section {
    max-width: 48rem;
    margin: 0 auto 2rem;
    display: flex;
    justify-content: center;
}
h1 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 1.75rem;
}
h2 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    line-height: 1.4;
}
button {
    color: $black;

    &:hover,
    &:focus {
        border-style: dashed;
        outline: none;
    }
}
button:not(.close) {
    border: .25rem solid $black;
    border-radius: .125rem;
    background-color: $white;
    padding: .375rem .75rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .0125em;
    &:hover,
    &:focus {
        border-style: dashed;
    }
}

button.close {
    box-sizing:content-box;
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding: 0;
    font-size: 3rem;
    line-height: .6;
    transition: transform .2s;
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 100%;

        path {
            stroke: $black;
            fill: transparent;
            stroke-width: 8;
        }
    }

    &:hover,
    &:focus {
        transform: rotate(90deg);
    }
}

.hide {
    display: none;
}