.grid {
    background-color: $black;
    display: grid;
    justify-content: center;
    border: .25rem solid $black;
    border-radius: .125rem;

    > div {
        background-color: $white;
        transition: background-color .05s ease-in-out;
        border: .0625rem solid $black;

        &.fill {
            background-color: $black;
        }
    }
}

.clue {
    display: grid;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.125rem;

    span.col,
    span.row {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: .25rem;
    }

    span.col {
        flex-direction: column;
    }

    span.row > span {
        padding: 0 .25rem;
    }
}