.intro {
    flex-direction: column;

    .input {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        label {
            margin-bottom: .25rem;
            text-align: left;
        }
        input {
            font-size: 1rem;
            padding: .375rem .375rem;
            border: .25rem solid $black;
            border-radius: .125rem;

            &:focus {
                outline: none;
                border-style: dotted;
            }
        }
    }

    button {
        align-self: center;
    }
}

.copy {

}