.intro {
    flex-direction: column;

    .input {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        label {
            font-size: 1.125rem;
            margin-bottom: .25rem;
            text-align: left;
        }
        input {
            font-size: 1.125rem;
            padding: .375rem .375rem;
            border: .25rem solid $black;
            border-radius: .125rem;

            &.error {
                border-color: $red;
                background: repeating-linear-gradient( -45deg, $transparent-red, $transparent-red .5rem, transparent .25rem, transparent 1.125rem );
            }

            &:focus {
                outline: none;
                border-style: dotted;
            }
        }
    }

    button {
        align-self: center;
    }
}