.container {
    display: grid;
    grid-template-areas: '. header .' '. main .' '. footer .';
    grid-template-columns: minmax(0, 1fr) minmax(0, 48rem) minmax(0, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-gap: 2rem 1rem;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

main {
    grid-area: main;
    //max-width: 48rem;
}

footer {
    grid-area: footer;
    text-align: center;
    margin-bottom: 1rem;
}

//.container {
//    width: calc(100% - 2rem);
//    max-width: 1024px;
//    margin: 0 auto;
//    box-sizing: border-box;
//    padding: 1rem 0;
//}