.modal__outer {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s;
    padding: 2rem;

    &.open {
        opacity: 1;
        pointer-events: all;
    }
}

.modal__inner {
    position: relative;
    background-color: #fff;
    border-radius: .125rem;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0,0,0,.5);
    display: grid;
    grid-gap: 2rem;

    .modal__header {
        display: flex;
        justify-content: space-between;

        h2 {
            margin-bottom: 0;
            margin-right: 2rem;
        }

        .close {
            align-self: center;
        }
    }

    .modal__body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal__footer {
        display: flex;
        justify-content: space-between;

        button:first-of-type {
            min-width: 10.1875rem;
        }

        button + button {
            margin-left: 2rem;
        }
    }
}