@media print {
    $black: #000;

    section {
        display: none !important;
    }

    .modal__outer {
        background-color: transparent;
    }

    .modal__inner {
        box-shadow: none;

        &:after {
            content: 'Printed at picrosscreator.netlify.app';
        }

        > *:not(.modal__header):not(.modal__body),
        button {
            display: none;
        }
    }
}