*, *:before, *:after {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    margin: 2rem;
    font-family: ui-sans-serif, system-ui, -system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji";
    color: #333132;
}

section {
    max-width: 768px;
    margin: 0 auto 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
}
h1 {
    margin-top: 0;
    margin-bottom: .25rem;
    font-size: 1.5rem;
}
p {
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 1rem;
    line-height: 1.4;
}
button {
    border: .25rem solid #333132;
    border-radius: .125rem;
    background-color: #fff;
    color: #333132;
    padding: .375rem .75rem;
    text-transform: uppercase;
    font-weight: 700;

    &:hover,
    &:focus {
        border-style: dashed;
        outline: none;
    }
}

.grid {
    background-color: #333132;
    display: grid;
    justify-content: center;
    border: .25rem solid #333132;
    border-radius: .125rem;

    > div {
        background-color: #fff;
        transition: background-color .05s ease-in-out;
        border: .0625rem solid #333132;

        &.fill {
            background-color: #333132;
        }
    }
}

.clue {
    display: grid;
    font-family: 'JetBrains Mono', monospace;

    .grid {
        grid-area: grid;
    }

    span.col,
    span.row {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: .25rem;
    }

    span.col {
        flex-direction: column;
    }

    span.row > span {
        padding: 0 .25rem;
    }
}