*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 2rem;
  font-family: ui-sans-serif, system-ui, -system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji";
  color: #333132;
}

section {
  max-width: 768px;
  margin: 0 auto 2rem;
  display: flex;
  justify-content: center;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.4;
}

button:not(.close) {
  border: 0.25rem solid #333132;
  border-radius: 0.125rem;
  background-color: #fff;
  color: #333132;
  padding: 0.375rem 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
}
button:not(.close):hover, button:not(.close):focus {
  border-style: dashed;
  outline: none;
}

button.close {
  box-sizing: content-box;
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: #333132;
  padding: 0;
  font-size: 3rem;
  line-height: 0.6;
  transition: transform 0.2s;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
button.close svg {
  width: 100%;
}
button.close svg path {
  stroke: #333132;
  fill: transparent;
  stroke-width: 8;
}
button.close:hover, button.close:focus {
  transform: rotate(90deg);
  outline: none;
}

.intro {
  flex-direction: column;
}
.intro .input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.intro .input label {
  margin-bottom: 0.25rem;
  text-align: left;
}
.intro .input input {
  font-size: 1rem;
  padding: 0.375rem 0.375rem;
  border: 0.25rem solid #333132;
  border-radius: 0.125rem;
}
.intro .input input:focus {
  outline: none;
  border-style: dotted;
}
.intro button {
  align-self: center;
}

.grid {
  background-color: #333132;
  display: grid;
  justify-content: center;
  border: 0.25rem solid #333132;
  border-radius: 0.125rem;
}
.grid > div {
  background-color: #fff;
  transition: background-color 0.05s ease-in-out;
  border: 0.0625rem solid #333132;
}
.grid > div.fill {
  background-color: #333132;
}

.clue {
  display: grid;
  font-family: "JetBrains Mono", monospace;
}
.clue span.col,
.clue span.row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.25rem;
}
.clue span.col {
  flex-direction: column;
}
.clue span.row > span {
  padding: 0 0.25rem;
}

.modal__outer {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
  padding: 2rem;
}
.modal__outer.open {
  opacity: 1;
  pointer-events: all;
}

.modal__inner {
  position: relative;
  background-color: #fff;
  border-radius: 0.125rem;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-gap: 2rem;
}
.modal__inner .modal__header {
  display: flex;
  justify-content: space-between;
}
.modal__inner .modal__header h2 {
  margin-bottom: 0;
  margin-right: 2rem;
}
.modal__inner .modal__header .close {
  align-self: center;
}
.modal__inner .modal__footer {
  display: flex;
  justify-content: space-between;
}
.modal__inner .modal__footer button + button {
  margin-left: 2rem;
}

@media print {
  section {
    display: none !important;
  }

  .modal__outer {
    background-color: transparent;
  }

  .modal__inner {
    box-shadow: none;
  }
  .modal__inner:after {
    content: "Printed at picrosscreator.netlify.app";
  }
  .modal__inner > *:not(.modal__header):not(.modal__body),
.modal__inner button {
    display: none;
  }
}
