*, *:before, *:after {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    margin: 2rem;
    font-family: ui-sans-serif, system-ui, -system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji";
    color: #333132;
}

section {
    max-width: 768px;
    margin: 0 auto 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
}
h1 {
    margin-top: 0;
    margin-bottom: .25rem;
    font-size: 1.5rem;
}
p {
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 1rem;
    line-height: 1.4;
}
button {
    border: .25rem solid #333132;
    border-radius: .125rem;
    background-color: #fff;
    color: #333132;
    padding: .375rem .75rem;
    text-transform: uppercase;
    font-weight: 700;
}
button:hover,
button:focus {
    border-style: dashed;
    outline: none;
}

.size ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.size li + li {
    margin-left: 1rem;
}
.size label {
    margin-left: .25rem;
}

.grid {
    background-color: #333132;
    display: grid;
    justify-content: center;
    border: .25rem solid #333132;
    border-radius: .125rem;
}
.grid > div {
    background-color: #fff;
    transition: background-color .05s ease-in-out;
    border: .0625rem solid #333132;
}
.grid > div.fill {
    background-color: #333132;
}

.grid--5x5 {
    width: 15.5rem;
    grid-template-columns: repeat(5, 3rem);
    grid-template-rows: repeat(5, 3rem);
}
.grid--6x5 {
    width: 18.5rem;
    grid-template-columns: repeat(6, 3rem);
    grid-template-rows: repeat(5, 3rem);
}

.clue {
    display: grid;
    font-family: 'JetBrains Mono', monospace;
}
.clue--5x5 {
    grid-template-areas:
        ". . c1 c2 c3 c4 c5 ."
        ". grid grid grid grid grid grid grid"
        "r1 grid grid grid grid grid grid grid"
        "r2 grid grid grid grid grid grid grid"
        "r3 grid grid grid grid grid grid grid"
        "r4 grid grid grid grid grid grid grid"
        "r5 grid grid grid grid grid grid grid"
        ". grid grid grid grid grid grid grid";
    grid-template-columns: auto .25rem repeat(5, 3rem) .25rem;
    grid-template-rows: auto .25rem repeat(5, 3rem) .25rem;
}
.clue--6x5 {
    grid-template-areas:
        ". . c1 c2 c3 c4 c5 c6 ."
        ". grid grid grid grid grid grid grid grid"
        "r1 grid grid grid grid grid grid grid grid"
        "r2 grid grid grid grid grid grid grid grid"
        "r3 grid grid grid grid grid grid grid grid"
        "r4 grid grid grid grid grid grid grid grid"
        "r5 grid grid grid grid grid grid grid grid"
        ". grid grid grid grid grid grid grid grid";
    grid-template-columns: auto .25rem repeat(6, 3rem) .25rem;
    grid-template-rows: auto .25rem repeat(5, 3rem) .25rem;
}
.clue span.col,
.clue span.row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .25rem;
}
.clue span.col {
    flex-direction: column;
}
.clue span.row > span {
    padding: 0 .25rem;
}
.clue .grid {
    grid-area: grid;
}
.col--1 {
    grid-area: c1;
}
.col--2 {
    grid-area: c2;
}
.col--3 {
    grid-area: c3;
}
.col--4 {
    grid-area: c4;
}
.col--5 {
    grid-area: c5;
}
.col--6 {
    grid-area: c6
}
.row--1 {
    grid-area: r1;
}
.row--2 {
    grid-area: r2;
}
.row--3 {
    grid-area: r3;
}
.row--4 {
    grid-area: r4;
}
.row--5 {
    grid-area: r5;
}